streamlit
langchain>=1.0.0
langchain-core
langchain-experimental
langchain-community
langchain-google-genai
langchain-groq
langchain-openai
langchain-classic
langgraph
chromadb
python-dotenv
langsmith
sentence-transformers
langchain-huggingface
langchain-chroma
pypdf
unstructured[pdf]
rdflib
owlrl