streamlit
langchain>=1.0.0
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-openai
langgraph
chromadb
python-dotenv
langsmith
sentence-transformers
langchain-huggingface
pypdf
unstructured[pdf]
