streamlit
langchain>=1.0.0
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-openai
langgraph
chromadb==0.5.23
python-dotenv
langsmith
sentence-transformers
langchain-huggingface
langchain-chroma==0.1.4
pypdf
unstructured[pdf]
python-magic-bin; sys_platform == 'win32'
